.swiper .swiper-slide{
    position: relative;
}

.swiper .swiper-slide .slide-content {
    position: absolute;
}

.swiper .swiper-slide img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.swiper .swiper-slide img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.swiper .swiper-slide a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 24px;
}

.swiper .swiper-slide a:hover {
    background-color: #333;
}

.swiper .swiper-slide .slide-content h2 {
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.swiper .swiper-slide .slide-content p {
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}